.episode_card{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding:5px; 
    margin: 10px;
    transition: 1s;
    background: rgba(40, 40, 40, 50%);
    color: #cfdbdb;
    border-radius: 20px;
}

.episode_card hr {
    width: 80%;
    color: #cfdbdb;
    margin-top: 2px;
}


.episode_card:hover{
    background: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.episode_card_name{
    height: 70px;
    font-size: 30px;
}


.episode_card_info{
    height: 180px;
}

.episode_card_number{
    margin: 20px;
}

.episode_card_date{
    margin: 20px;
}
