.episode_card{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px; 
    margin: 10px;
    transition: 1s;
    background: rgba(40, 40, 40, 50%);
    border-radius: 20px;
}

.episode_card:hover{
    background: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.episode_card_name{
    font-size: 20px;
    text-align: start;
}

.episode_card_number{
    margin-top: auto;
}

.episode_card_date{
    margin-bottom: 20px;
}
