body{
    padding: 0;
    margin: 0;
    background-color: #3a3a3a;
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.location_list_container{
    height: 100vh;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.filter_panel{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
}

.filter_panel_current_page{
    font-size: 19px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 30px 0px 0px 30px;
    background: rgba(40, 40, 40, 50%);
    border: none;
    border-right: 1px solid #3a3a3a;
}

.home_button{
    display: flex;
    font-size: 18px;
    padding: 20px;
    border-radius: 0px 30px 30px 0px;
    background: rgba(40, 40, 40, 50%);
    transition: 1s;
    border: none;
    cursor: pointer;
}

.filter_panel a{
    text-decoration: none;
}

.filter_input{
    font-size: 18px;
    border: none;
    padding: 20px;
    background: rgba(40, 40, 40, 50%);
    transition: 1s;
    cursor:pointer;
    border-right: 1px solid #3a3a3a;
}

.filter_input:hover{
    color: #cfdbdb;
    background: rgba(40, 40, 40, 95%);
    
}

.filter_input:focus{
    outline: none;
    background: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.nav_button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.nav_button_previous{
    font-size: 18px;
    padding: 20px;
    border-radius: 30px 0px 0px 30px;
    background: rgba(40, 40, 40, 50%);
    border: none;
    border-right: 1px solid black;
    cursor: pointer;
    transition: 1s;
}


.nav_button_previous:hover{
    background-color: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.nav_button_next:hover{
    background-color: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.nav_button_next{
    font-size: 18px;
    padding: 20px;
    border-radius: 0px 30px 30px 0px;
    background: rgba(40, 40, 40, 50%);
    border: none;
    cursor: pointer;
}

.location_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}


.copyright{
    background: none;
    color: #cfdbdb;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

