body{
    padding: 0;
    margin: 0;
    background-color: #3a3a3a;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: none;
}

.characters_section{
    background: none;
}

.characters_section a {
    background: none;
}

.characters_section_button{
    background:#009EB5;
    border: none;
    color: #cfdbdb;
    cursor: pointer;
    transition: 0.2s;
    font-size: 32px;
    margin: 10px;
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
    
}

.characters_section_button:hover{
    color: #cfdbdb;
    background-color: #008497;
}

.locations_section{
    background: none;
}

.locations_section a {
    background: none;
}

.locations_section_button{
    background:#009EB5;
    border: none;
    color: #cfdbdb;
    cursor: pointer;
    transition: 0.2s;
    font-size: 32px;
    margin: 10px;
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
}

.locations_section_button:hover{
    color: #cfdbdb;
    background-color: #008497;
}

.episodes_section a {
    background: none;
}

.episodes_section{
    background: none;
}

.episodes_section_button{
    background: #009EB5;
    border: none;
    color: #cfdbdb;
    cursor: pointer;
    font-size: 32px;
    transition: 0.2s;
    margin: 10px;
    padding: 20px 60px 20px 60px;
    border-radius: 20px;
}

.episodes_section_button:hover{
    color: #cfdbdb;
    background: #008497;
}


.home_container{
    box-sizing: border-box;
    height: 100vh;
    background-color: none;
    background: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home_header{
    display: flex;
    justify-content: center;
    background: none;
}

.header_title{
    font-size: 60px;
    color: #009EB5;
    transition: 1s;
}

.header_title:hover{
    color: #cfdbdb;
}


.copyright{
    background: none;
    color: #cfdbdb;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
