.character_card{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding:5px; 
    margin: 10px;
    transition: 1s;
    background: rgba(40, 40, 40, 50%);
    color: #cfdbdb;
    border-radius: 20px;
}


.character_card hr {
    width: 80%;
    color: #cfdbdb;
    margin-top: 2px;
}


.character_card:hover{
    scale: 1.025;
    background: rgba(40, 40, 40, 95%);
    color: #cfdbdb;
}

.card_info{
    height: 220px;
}

.card_image{
    padding-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

.card_name{
    height: 50px;
    font-size: 30px;
}

.card_species{
    margin: 10px;
}

.card_gender{
    margin: 10px;
}

.card_origin{
    margin: 10px;
}

.card_status{
    margin: 10px;
}
